@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-app="accountManagement" ng-init="users = [{firstName:'Tom'}, {firstName:'Dick'},{firstName:'Harry'}]">
    <div class="col-md-4">
        {{ 1 + 1}} {{firstName}}
    </div>
    <div class="col-md-4">
        <input type="text" ng-model="firstName" />
        <button ng-click="firstName='set by event'"></button>
    </div>
    <div class="col-md-4">
        <div ng-repeat="user in users">
            {{user.firstName}}
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/angular")
    <script>
        var accountManagement = angular.module('accountManagement', []);

        console.log(accountManagement);

        $(function () {
            //$('.datepicker').datepicker();
        });
    </script>

}