@model LoanShark.AccountManagement.Site.ViewModels.CurrentDebt
@{
    Layout = null;
}
<div>
    <a href="@Url.Action("Index", new {Model.Id})">
        <span>@Model.Amount.ToString("c")</span>
        <span>@Model.DueDate</span>
    </a>
    @Html.DisplayFor(debt => debt.Links)
</div>